body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5d4ed;
  color: lightgray;
  padding: 5px;
}
main {
  background-color: #5941a9;
  border-radius: 10px;
  max-width: 650px;
  margin: 40px auto;
  box-shadow: 10px 10px #514f59;
  padding: 20px;
  text-align: center;
}
form {
  width: 100%;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}
li {
  padding: 10px;
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

button {
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

button:hover {
  opacity: 0.9;
  background-color: darkgray;
  font-size: 15px;
}
li button {
  margin-left: 20px;
}

input,
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
}

.delete-btn {
  background-color: rgb(196, 47, 47);
  color: lightgray;
  border: none;
  border-radius: 6px;
}
